<!-- Entre (nombre del evento), en "" nombre de la funcion -->
<div class="cronometro">
    <span>{{num1}} + {{num2}}</span>
    <button (click)="onClick()">Sumar</button>
    <span>{{resultado}}</span>
    
</div>

<div class="cronometro">
    <span>{{time}}</span>
    <button (click)="cuentaAtras()" >Start</button>
</div>

<!-- Para recoger información del evento: $event -->
<select (change)="onChange($event)">
    <option value="uno">Uno</option>
    <option value="dos">Dos</option>
    <option value="tres">Tres</option>
</select>

<!-- Para saber cuándo paso por encima del div: mouseenter / mouseout -->
<div class="cuadrado" (mouseenter)="onMouseEnter()" (mouseout)="onMouseOut()">
    <p>{{mensaje}}</p>
</div>

<!-- Para saber los cambios : change (se necesita darle al enter o clicar fuera) / input-->
<div class="inputText">
    <input class="input-style" type="text" placeholder="Texto para el cuadro rosa"
        (change)="onChangeInput($event)"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()">
</div>